/* ----- COLORS ---- */

/* ----- Brands ---- */

$brand-blue: #0073CE;
$brand-light-blue: #00A5F0;
$brand-green-light: #00D7D7;
$brand-yellow: #FFC800;
$brand-yellow-hover: #FFDC5C;
$transp-white: rgba(255, 255, 255, 0.4);

/* ----- Scale Greys ---- */

$grey-600: #33303E;
$grey-500: #4E4B59;
$grey-400: #5F5C6B;
$grey-400-transp: rgba(95, 92, 107, 0.8);
$grey-300: #7A7786;
$grey-200: #C6C5CE;
$grey-200-transp: rgba(198, 197, 206, 0.8);
$grey-100: #F1F0F5;
$grey-100-transp: rgba(241, 240, 245, 0.55);

